<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>피자 상세보기</title>
    <link href="/favicon.ico" rel="icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container" id="container">
    <h1>피자 상세정보</h1>

    <div id="pizza-detail">
        <p><strong>이름 : </strong><span id="pizza-name"></span></p>
        <p><strong>가격 : </strong><span id="pizza-price"></span></p>
        <p><strong>설명 : </strong><span id="pizza-description"></span></p>
    </div>
    <!-- 상세정보 / 수정 / 삭제 버튼 추가 -->
</div>
<script>
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id"); //id 키 를 이용해서 값을 가져오기!

    $.ajax({
        // url: "/api/pizzas/" + id,
        url: `/api/pizzas/${id}`,
        method: "GET",
        success: function (data) {
            $("#pizza-name").text(data.name);
            $("#pizza-description").text(data.description);
            $("#pizza-price").text(data.price);
        },
        error: function () {
            alert("피자 정보를 가져올 수 없습니다.");
            // error status NUMBER = 숫자 숫자 의미
            // 피자 목록으로 돌려보내기
            //window.location.href = "/pizzas";
        }
    })


</script>
</body>
</html>