<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/pizza-style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1>회원가입</h1>
    <label for="nickname">닉네임</label>
    <input type="text" name="nickname" id="nickname" disabled>

    <label for="email">이메일</label>
    <input type="email" name="email" id="email" disabled>

    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password">

    <label for="profileImage">프로필이미지</label>
    <input type="file" name="profileImage" id="profileImage">
    <button type="button" id="signup" class="btn">가입하기</button>
</div>

<script>
const param = new URLSearchParams(window.location.search);
const nickname = param.get('nickname');
const email = param.get('email');
const profileImage = param.get('profileImage');

$('#nickname').val(decodeURIComponent(nickname)); //한글 깨짐없이 가져오기
$('#email').val((email));
$('#profileImage').attr('src', param.get('profileImage'));
</script>
</body>
</html>










